<!doctype html>
<html>
	<head>
		<title>OpenRefine-Wikibase interface</title>
		<meta charset="utf-8" />
		<link rel="stylesheet"
href="static/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">
	</head>
	<body>
		<div style="padding: 100px">
		<h1><a href="{{wikibase_main_page}}">{{wikibase_name}}</a>
			reconciliation for <a href="http://openrefine.org/">OpenRefine</a></h1>
		<p class="lead">This web service can be used to align datasets to {{wikibase_name}} items in OpenRefine.</p>

		<p>Use the following URL in OpenRefine: <a
href="{{endpoint_url}}">{{endpoint_url}}</a>.</p>

<p>Use the following URL to access the manifest.json: <a href="{{manifest_url}}">{{manifest_url}}</a>.</p>

<p>Replacing "en" by another language code will display items and properties
in your language, when they are available.</p>

		<p>This interface works with OpenRefine from 2.6 rc2 onwards. It is
		   not compatible with Google Refine.</p>
		
		<ul>
			<li><a href="https://reconciliation-api.github.io/specs/latest/">Documentation of the protocol</a></li>
			<li><a href="https://openrefine-wikibase.readthedocs.io/en/latest/">Documentation of this application for developers and Wikibase admins</a></li>
			<li><a href="https://github.com/wetneb/openrefine-wikibase">Source</a></li>
			<li><a href="https://github.com/wetneb/openrefine-wikibase/issues">Bug tracker</a></li>
			<li><a href="{{service_status_url}}">Service status</a></li>
		</ul>
		<h3>Tutorials for OpenRefine users</h3>
		<ul>
			<li><strong><a
href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation">Official
documentation in English</a></strong></li>
			<li><a href="http://qiita.com/yayamamo/items/eade3e5788e6f359bce7">Official
documentation in Japanese</a> by <a href="http://data.dbcls.jp/~yayamamo/fsyl/">山本 泰智</a></li>
			<li><a
href="https://medium.com/@seeksanusername/reconcilier-une-liste-darchitecte-avec-wikidata-en-utilisant-openrefine-16819fbb2903#.i9nvehia2">Tutorial</a> by <a href="https://twitter.com/seeksanusername">Antoine
Courtin</a> (in French)</li>
			<li><a
href="https://musingsaboutlibrarianship.blogspot.co.uk/2017/03/openrefine-reconciliation-services.html">Comparison
of renconciliation services for OpenRefine</a> by <a
href="https://twitter.com/aarontay">Aaron Tay</a> (in English)</li>
			<li><a
href="http://www.mnylc.org/fellows/2017/03/17/using-openrefine-to-reconcile-name-entities/">Using
OpenRefine to Reconcile Name Entities</a> by Karen H. (in English)</li>
                        <li><a href="https://histhub.ch/reconciling/">Reconciling in OpenRefine - eine Einführung von histHub</a> (in German)</li>
		</ul>

		<h3>Videos</h3>
		<ul>
			<li><strong><a href="https://www.youtube.com/playlist?list=PL_0jeq3PjvtADzbovAgHNzOFvOlyF6uL1">Reconciliation in OpenRefine</a></strong>, screencast by <a href="http://www.meanboyfriend.com/overdue_ideas/">Owen Stephens</a> (in English, 24:06)</li>
			<li><a
href="https://media.ccc.de/v/wikidatacon2017-10020-openrefine_demo">OpenRefine demo at WikidataCon 2017</a>,
live demo by <a href="https://www.wikidata.org/wiki/User:ArthurPSmith">Arthur P. Smith</a> (in English, 19:52)</li>
                        <li><a href="https://www.youtube.com/watch?v=rXfaIJLWj6Y">Exemple de réconciliation et d'enrichissement avec Wikidata</a> (silent screencast, 3:27) by <a href="https://twitter.com/ettore_rizza">Ettore Rizza</a></li>
                        <li><strong><a href="https://www.wikidata.org/wiki/Wikidata:Tools/OpenRefine/Editing/Tutorials/Video">Wikidata editing with OpenRefine</a></strong>, screencast by <a href="http://antonin.delpeuch.eu">Antonin Delpeuch</a> (in English, 3 videos
of 5 minutes each)</li>
		</ul>

                <h3 id="documentation">Documentation</h3>

                <p>
                Contents:
                <ul>
                   <li><a href="#doc-unique-ids">Reconciling via unique identifiers</li>
                   <li><a href="#doc-property-paths">Property paths</a></li>
                   <li><a href="#doc-special-properties">Special properties</a></li>
                   <li><a href="#doc-subfields">Subfields</a></li>
                </ul>

                <h4 id="doc-unique-ids">Reconciling via unique identifiers</h4>

                <p>If a unique identifier is supplied in an additional property, then
                reconciliation candidates will first be searched for using the unique identifier values. If no item matches the unique identifier supplied, then the reconciliation service falls back on regular search.</p>

                <p>If you only have unique identifiers and no names for the entities you want to reconcile, you can therefore supply a fake column of names (for instance using a random value that yields no match when searching for it in Wikidata.</p>

                <h4 id="doc-property-paths">Property paths</h4>

                <p>Sometimes, the relation between the reconciled item and the disambiguating column is not direct: it is not represented as a property itself. Let us consider this dataset of cities:</p>
                <img src="static/screenshot_city_country.png" alt="dataset with two columns, one with city names and the other with country codes of the countries where the cities are located" />

                <p>To fetch the country code from an item representing a city, you need to follow two properties. First, follow <a href="https://www.wikidata.org/wiki/Property:P17">country (P17)</a> to get to the item for the country in which this city is
located, then follow <a href="https://www.wikidata.org/wiki/Property:P297">ISO 3166-1 alpha-2 code (P297)</a> to
get the two-letter code string.</p>
                <img src="static/sparql_path_1.svg" alt="graph with three nodes: first, the item Cambridge, linked to the middle node United Kingdom via P17, which is finally linked to the third node 'GB' via P297" height="60px" />
                
                <p>This is supported by the reconciliation interface, with a syntax inspired by SPARQL property paths: just type the sequence of property identifiers separated by slashes, such as <code>P17/P297</code>:</p>

                <img src="static/screenshot_city_country_dialog.png" alt="screenshot of the reconciliation dialog with a property path" />
                <p>This additional information allows to distinguish between namesakes, to some extent. As "Cambridge, US" is still ambiguous, there are multiple items with a perfect matching score, but "Oxford, GB" successfully disambiguates one
particular city from its namesakes:</p>

                <img src="static/screenshot_city_country_disambiguated.png" alt="Screenshot of reconciled project state after use of SPARQL property paths" />

                <p>The endpoint currently supports two property combinators: <code>/</code>, to concatenate two paths as above, and <code>|</code>, to compute the union of the values yielded by two paths. Concatenation <code>/</code> has precedence over disjunction <code>|</code>. The dot character
<code>.</code> can be
used to denote the empty path. For instance, the following property paths are equivalent:</p>
                <ul>
                        <li><code>P17|P749/P17</code></li>
                        <li><code>P17|(P749/P17)</code></li>
                        <li><code>(.|P749)/P17</code></li>
                </ul>
                <p>They fetch the <a href="https://www.wikidata.org/wiki/Property:P17">country (P17)</a> of an item or that of its <a href="https://www.wikidata.org/wiki/Property:P749">parent organization (P749)</a>.</p>
                
                <h4>Special properties</h4>

                <p>Labels, aliases and descriptions can be accessed as follows (L for label , D for description, A for aliases, S for sitelink):</p>
                <ul>
                        <li><code>Len</code> for Label in English</li>
                        <li><code>Dfi</code> for Description in Finnish</li>
                        <li><code>Apt</code> for Alias in Portuguese</li>
                        <li><code>Sdewiki</code> for Sitelink in German Wikipedia page titles. For an overview of all Sitelinks ids of Wikidata see: <a href="https://www.wikidata.org/w/api.php?action=paraminfo&modules=wbsetlabel">MediaWiki API result</a>.</li>
                </ul>

                <p>The lowercase letters are Wikimedia language codes which select which language the terms will be fetched. No language fall-back is performed when retrieving the values.</p>

                <h4>Subfields</h4>

                <p>By default, the values supplied in OpenRefine and the ones present in Wikidata are compared by string fuzzy-matching. There are some exceptions to this:</p>
                <ul>
                        <li>If the value is an identifier, then exact string matching is used.</li>
                        <li>If the values are integers, exact equality between integers is used.</li>
                        <li>If the values are floating point numbers, the score is 100 if they are equal and decreases towards 0 as their absolute difference increases.</li>
                        <li>If the values are coordinates (specified in the "lat,lng" format on OpenRefine's side), then the matching score is 100 when they are equal and decreases as their distance increases. Currently a score of 0 is reached when the
points are 1km away from each other.</li>
                </ul>

                <p>Sometimes, we need a more specific matching on sub-parts of these values. It is possible to select these parts for matching by appending a modifier at the end of the property path:</p>

<ul>
    <li><code>@lat</code> and <code>@lng</code>: latitude and longitude of geographical coordinates (float)</li>
    <li><code>@year</code>, <code>@month</code>, <code>@day</code>: parts of a time value (int). They are returned only if the precision of the Wikidata value is good enough to define them.</li>
    <li><code>@isodate</code> returns a date in the ISO format <code>1987-08-23</code> (string). A value is always returned.
    <li><code>@iso</code> returns the date and time in the ISO format <code>1996-03-17T04:15:00+00:00</code>. A value is always returned. For times and dates, all values are returned in the UTC time zone.</li>
    <li><code>@urlscheme</code> ("https"), <code>@netloc</code> ("www.wikidata.org") and <code>@urlpath</code> ("/wiki/Q42") can be used to perform exact matching on parts of URLs.</li>
</ul>

<p>For instance, if you want to refine people by their birth dates, but you only have the month and day. First, split the birthday dates in two columns, for month and day.</p>
		</div>
	</body>
</html>
